*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}

main{

    width: 100%;
}

.view-settings{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 9999;
    width: calc(100vw - 15px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 14px;
}

.view, .fullscreen{
    background-color: rgba(72, 72, 72, .5);
    border-radius: 5px;
    margin: 5px;
    padding: 10px 5px;

}

.container{
    width: 96%;
    margin: 0px auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user{
    position: relative;
    background-image: url(https://picsum.photos/246/146);
    width: 246px;
    height: 146px;
    margin-bottom: 5px;
}

.user-name{
    background-color: rgba(72, 72, 72, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    z-index: 9999;
    width: calc(100vw - 15px);
}

.function{
    width: 100%;
    background-color: rgb(49, 49, 49);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.content-left, .middle-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item{

    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green{
    color: limegreen;
}

.leave {
    line-height: 80px;
    color:red;
    background-color: grey;
    padding: 0 20px;
    text-align: center;
}